<div class="oj-flex-bar-start">
    <button  data-bind="click: goBack, ojComponent: {component:'ojButton', chroming: 'half', display: 'icons', label: 'Go Back', icons: {start: 'oj-hybrid-applayout-header-icon-back oj-fwk-icon'}}"></button>
</div>
<div class="oj-hybrid-applayout-bar-title oj-flex-bar-middle" style="min-width:35%;">
    <h1 class="oj-hybrid-applayout-header-title"  data-bind="text: pageTitle"></h1>
</div>
<div class="oj-hybrid-applayout-bar-title oj-flex-bar-end">
    <div id="editModeWrapper"
         data-bind="ojComponent: {component: 'ojButtonset'}">
        <button id= "isEditMode"
                data-bind="click: buttonClick,
                       ojComponent: { component: 'ojButton', label: editMode }">
        </button>
        <button id="editCancel" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', disabled:true}">Cancel</button>
        <button id="editApply" data-bind="click: buttonClick, ojComponent: { component: 'ojButton', disabled:true}">Apply</button>
    </div>
</div>
