<div>
    <div class="oj-applayout-fixed-top">
        <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
        </header>
    </div>

    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">
                <h3>Incidents Content Area</h3>
                <div>
                    To change the content of this section, you will make edits to the incidents.html file located in the /js/views folder.
                </div>
            </div>
        </div>
    </div>
</div>