<div class="oj-flex-bar-start">
    <button  data-bind="click: goBack, ojComponent: {component:'ojButton', chroming: 'half', display: 'icons', label: 'Go Back', icons: {start: 'oj-hybrid-applayout-header-icon-back oj-fwk-icon'}}"></button>
</div>
<div class="oj-hybrid-applayout-bar-title oj-flex-bar-middle" style="min-width:65%;">
    <h1 class="oj-hybrid-applayout-header-title"  data-bind="text: pageTitle"></h1>
</div>
<div class="oj-hybrid-applayout-bar-title oj-flex-bar-end">
    <div id="editModeWrapper"
         data-bind="ojComponent: {component: 'ojButtonset', checked: isEditMode}">
        <label for="isEditMode">Edit</label>
        <input type="checkbox" id="isEditMode" value="editMode"/>
    </div>
    <div>&nbsp;</div>

    <div>
        <button id="editCancel" data-bind="click: buttonClick">Cancel</button>
        <button id="editApply" data-bind="click: buttonClick">Apply</button>
    </div>

</div>
